<!DOCTYPE html>
<html lang="en" ng-app="sketch">
<head>
	<meta charset="UTF-8">
	<title>angular-sketch</title>
	<script src="js/angular.js"></script>
	<script src="js/index.js"></script>
	<link rel="stylesheet" href="css/index.css">
</head>
<body ng-controller="sketchController">
	<div id="controls">
		<h1>Tacklingpioneer</h1>
		<h2>调整画布大小</h2>
		<p>宽:</p><input style="display: inline-block;" ng-model="canvasWH.width" type="range" min="400" max="900" step="1">
		<hr>
		<p>高:</p><input ng-model="canvasWH.height" type="range" min="300" max="620" step="1">	
		<hr>
		<h2>功能</h2>
		<ul>
			<li ng-repeat="(key, value) in tools" ng-click="settool(value)" ng-class="{active:value==tool}">{{key}}</li>
		</ul>
		<hr>
		<h2>颜色</h2>
		<div id="bbbb" ng-class="{active:csState.style=='fill'}" ng-click="setStyle('fill')">填充</div>
		<input type="color" ng-model="csState.fillStyle">
		<br>


		<div id="bbbb" ng-class="{active:csState.style=='stroke'}" ng-click="setStyle('stroke')">画线</div>
	    <input type="color" ng-model="csState.strokeStyle">


	    <input style="margin-left: 20px" ng-model="csState.lineWidth" type="range" min="1" max="30" step="1">
	    <hr>
	    <div class="aaaa" ng-click="newSketch()">新建</div>
	    <a class="aaaa" ng-click="save($event)">保存</a>
	    <div class="aaaa">回退</div>	
	</div>

	<div id="drawregion">
		<canvas id="canvas" width="{{canvasWH.width}}" height="{{canvasWH.height}}"></canvas>
	</div>
</body>
</html>